name: Build and upload to PyPI

on: [push, pull_request]

jobs:
  build_sdist_and_wheel:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: '3.9'
      - name: Install build
        run: python -m pip install build
      - name: Build sdist
        run: python -m build --sdist --wheel --outdir dist/ .
      - uses: actions/upload-artifact@v3
        with:
          path: dist/*

  upload_pypi:
    name: Upload to PyPI
    needs: [build_sdist_and_wheel]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
